* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}
.button {
background-color: #0A85FF;
color:#FFFFFF;
}
.body {
    margin: 10px;	
    font-family: 'Roboto', sans-serif;
    color: #0A85FF;
}
