{% extends "public/templates/public_template.html" %}

{% block title %}Converter{% endblock %}

{% block main %}

<div class="container">
        <div class="row">
                <div class="col">
			<p>	
                        <h1>Convert file</h1>
			<hr>
		
			<form action="/upload" method="POST" enctype="multipart/form-data">
			
				<div class="form-group">
					<label> Choose pdf file:</label>
					<div class="custom file">
					<input type="file" class="custom-file-input" name="pdf" id="pdf">
					<label class="custom-file-label" for="pdf">       <- .pdf file to be converted</label>
					<p>
					</div>
				</div>
				<button onclick= "converttodoc('{{ request.url }}')" id="converttodoc_btn" class="bth btn-primary">convert to .doc</button>				
				<button onclick= "converttopttx('{{ request.url }}')" id="converttopttx_btn" class="bth btn-primary">convert to .pttx</button>
			</form>
                </div>
        </div>
</div>


{% endblock %}

{% block script %}

<script>

</script>

{% endblock %}
